@font-face{ 
  font-family: Grob;
  src: url('fonts/GROB.ttf') format('truetype');
}
@font-face{ 
  font-family: Splatch;
  src: url('fonts/Splatch.ttf') format('truetype');
}
@font-face{ 
  font-family: DK;
  src: url('fonts/DK.otf') format('opentype');
}
body,html{
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	color: black;
	font-size: 15px;
	background-color: #71A8DC;
	margin: 0;
  	padding: 0;
}
div{
	position: relative;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.rojo {background-color: #D50E0E;}
.verde {background-color: #27902C;}
.morado {background-color: #8449A3;}
.azul {background-color: #3953BB;}
.negro {background-color: #1A1A1A;}

.azulClaro {background-color: #57AED8;}
.azulOscuro {background-color: #186184;}
